body{
    height: 100vh;
    background-color: #000;
    background-image: url("imagens/wallpaper002.jpg");
    background-size: cover;
}

main{
    background-color: white;
    width: 400px;
    padding: 10px;
    margin: auto;
}