/*Todas as demais midias*/

/*Breakpoint para impressão*/
@media print{

}


/*Breakpoint para tablets*/
@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }

    main > img#tablet{
        display: block;
    }

    main >img#phone{
        display: none;
    }

}

/*Breakpoint para desktop*/
@media screen and (min-width: 992px) and (max-width: 1200px){

    body{
        background-image: url(../imagens/back-pc.jpg);
    }

    main > img#pc{
        display: block;
    }

    main > img#phone{
        display: none;
    }

}

/*Breakpoint para telas grandes*/
@media screen and (min-width: 1200px){
    body{
        background-image: url(../imagens/back-tv.jpg);
    }

    main > img#tv{
        display: block;
    }

    main > img#phone{
        display: none;
    }

}